body{
    background-color: #012030;
    color:#9AEBA3;
}

.citySearch{
    padding-left:20px
}

.searchContainer{
    background-color: #13678A;
    width: fit-content;
    padding: 0 15px;
    border-style: solid;
    border-radius: 25px;
}