body{
    background-color: #d5ad95;
    color:#efece8;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
}
.srch{
    text-align: right;
    padding-top: 5px;
}

.srchfield{
    padding-top: 15px;
}
#cityInput{
    margin-top: 10px;

}

/*cont for the now viewing*/
.searchLabel{
    text-align: center;
    margin-bottom: 35px;
    background-color: #ce893a;
    border-style:solid;
    border-color: #923723;
    padding-top:10px;
    padding-bottom:10px;
}

.cview{
    text-align: center;  
}

.searchContainer{
    background-color: #daa093;
    width: fit-content;
    padding: 0 10px;
    border-style: solid;
    height: fit-content;
    border-color:rgb(123, 64, 25);
    color: #923723;
    margin-left: 5px;
    
}

.hero {
    height: 425px;
    max-width: 100%;
    margin-bottom: 25px;
    background-image: url("./Images/WeatherFiveHero.jpg");
    background-size: cover;
    background-position: center;
    border-style:solid;
    border-top:#daa093;
    border-left:#daa093;
    border-right: #daa093;
} 
ul{
    margin-bottom: 5px;
}
ul button{
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 20%;
}